.content-meta {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: var(--darkgray);
  font-style: italic;
  line-height: 1.5;

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }

  &.modified-date {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
  }
}
